.user_navigation_container {
  display: flex;
}
.link {
  font-family: GothamPro-Bold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 13.4px;
  text-decoration: none;
  color: #9b9faa;
}
.link:not(:last-child) {
  margin-right: 15px;
}
.link:hover,
.link:focus,
.active_link {
  color: #212121;
}
.burger_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.burger_link {
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #9b9faa;
}
.burger_link:not(:last-child) {
  margin-bottom: 25px;
}
.burger_active_link {
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .burger_menu {
    padding-top: 108px;
  }
  .burger_link {
    font-size: 24px;
    line-height: 29px;
  }
  .burger_link:not(:last-child) {
    margin-bottom: 39px;
  }
}
@media screen and (max-width: 1279px) {
  .user_navigation_container {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .navigation_container {
    display: flex;
    margin-bottom: 0;
  }
  .link:not(:last-child) {
    margin-right: 14px;
  }
}
