.button {
  display: block;
  padding: 0;
  width: 176px;
  height: 44px;

  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #fc842d;

  background: #fff;
  border: 2px solid #fc842d;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 0.4s cubic-bezier(0.25, 0.75, 0.5, 1.25);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #fff;
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  transition: all 0.4s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}
