.underline {
  padding-bottom: 14px;
  border-bottom: 2px solid #e0e0e0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .underline {
    padding-bottom: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .underline {
    padding-bottom: 0;
    border-bottom: none;
  }
}
