@media screen and (min-width: 768px) and (max-width: 1279px) {
    .bg-wrapper__reg {
        background-image: url(../../images/bg-tablet.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto auto;
        height: 1024px;
        /* padding: 0 15px 0; */
    }
}
@media screen and (min-width: 1280px) {
    .bg-wrapper__reg {
        display: block;
        max-width: 1280px;
        height: 850px;
        padding: 0 115px 0;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 800px,
            rgba(240, 241, 243, 1) 800px
        );
        background-image: url(../../images/bg-desktop.jpg);
        background-position: right 0px;
        background-repeat: no-repeat;
        background-size: auto auto;
    }
}
