
@media screen and (max-width: 768px) {
  .productsListDiary {
    max-width: 287px;
    margin: 0 auto;
    list-style: none;
    min-width: 320px;
    padding: 0;
    max-height:300px;
    overflow-y: auto;
    }
}
