.productsListDiary {
  list-style: none;
  min-width: 320px;
  padding: 0;

}
@media screen and (min-width: 768px) {

  .productsListDiary {

  max-height: 240px;
  overflow-y: auto;
}
  .productsListDiary::-webkit-scrollbar {
  width: 4px;
  margin: 0;
}
.productsListDiary::-webkit-scrollbar-track {
  background: #f0f1f3;
}
.productsListDiary::-webkit-scrollbar-thumb {
  background: #264061;
}

}

@media screen and (min-width: 1280px){
    .productsListDiary {

  max-height: 270px;
  overflow-y: auto;
}
}

