.container {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 81px;
  left: 0;
  z-index: 50;
  background-color: transparent;
  transform: translateX(-100%);
  transition: all 0.2s ease-in;
}

.container.open {
  transform: translateX(0%);
  background-color: #264061;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    top: 65px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: none;
  }
}
