body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: local('GothamPro-Bold'), url(./fonts/GothamPro-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Verdana';
  src: local('Verdana'), url(./fonts/Verdana.ttf) format('ttf');
}
p {
  margin: 0;
  padding: 0;
}
